<h1>Add A New Movie</h1>

  <form action="http://localhost:3000/add_movie">
    <div>
      <label for="title">Title</label>
      <input placeholder="Enter a title here:" name="the_title" type="text" id="title">
    </div>

    <div>
      <label for="year">Year</label>
      <input name="the_year" type="text" id="year">
    </div>

    <div>
      <label for="duration">Duration</label>
      <input name="the_duration" type="text" id="duration">
    </div>

    <div>
      <label for="description">Description</label>
      <textarea name="the_description" id="description">
      </textarea>
    </div>

    <div>
      <label for="picture">Image URL</label>
      <input name="the_image_url" type="text" id="picture">
    </div>

    <div>
      <input type="submit" value="Create Movie">
      or <a href="index.html">Cancel</a>
    </div>
  </form>
